/*AboutPage.css*/
.flip-card {
    width: 300px; 
    height: 400px;
    perspective: 1000px;
    margin: 15px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    color: var(--color-white); 
}

.flip-card-front {
    background-color: var(--color-dark-gray); 
    border: 2px solid var(--color-hot-pink); 
}

.flip-card-front h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--color-zesty-lime);
}

.flip-card-front .icon-placeholder {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.flip-card-front .card-description {
    font-size: 1rem;
    color: var(--color-secondary);
}

.hover-hint {
    margin-top: 25px;
    font-size: 0.8rem;
    color: var(--color-hot-pink);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}


.flip-card-back {
    background: linear-gradient(135deg, var(--color-hot-pink), var(--color-electric-blue));
    transform: rotateY(180deg);
}

.flip-card-back .back-text {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.cta-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: var(--color-dark-gray);
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-shadow: 0 0 5px rgb(47, 46, 46);
}

.cta-button:hover {
    background-color: rgb(47, 46, 46);
    color: white;
}